{% extends 'base.html.twig' %}
   {% block head %}
      {% block styleAndJS %}
          <link href="../../public/css/metro-all.css" rel="stylesheet">
          <link href="../../public/css/style.css" rel="stylesheet">
          <script type="text/javascript" src="../../public/js/metro.js"></script>
          <script type="text/javascript" src="../../public/js/metro.js"></script>
      {% endblock %}
    {% endblock %}
    {% block body %}
        {% block stylesheet %}
            <div class="container-fluid">
                <div class="cell-md-8">
                    <div class="info-panel rounded no-overflow shadow-3">
                        <div class="info-panel-header bg-black fg-white text-bold">
                            <h3> Liste des instruments </h3>
                        </div>
                    <table class="table table-blue cell-border striped">
                      <tr>
                          <td><strong>id</strong></td>
                          <td><strong>Numéro de série</strong></td>
                          <td><strong>Date Achat</strong></td>
                          <td><strong>Prix achat</strong></td>
                          <td><strong>Utilisation</strong></td>
                          <td><strong>Consulter</strong></td>
                      <tr>
                      {% for i in pInstruments %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.numSerie }}</td>
                            <td>{{ i.dateAchat|date('d/m/Y') }}</a></td>
                            <td>{{ i.prixAchat }}</td>
                            <td>{{ i.utilisation}}</td>
                            <td><a href="{{ path('instrumentConsulter', { 'id': i.id })   }}"><button class="button primary small drop-shadow">Consulter</button></a></td>
                      {% else %}
                          <td>Aucun instrument n'a été trouvé.</td>
                          </tr>
                      {% endfor %}
                  </table>
              </table>
        {% endblock %}
    {% endblock %}
